<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="container">
        <h1>Wordle Game</h1>
        <div class="options">
           <a href="{% url 'create_room' %}"></a> <button class="btn btn-create">Create a Room</button>
           <a href="{% url 'join_room' %}"></a> <button class="btn btn-join">Join a Room</button>
            <a href="{% url 'single_play'}"></a><button class="btn btn-single">Single Play</button>
        </div>
    </div>
</body>
</html>